<h1>Users</h1>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if current_user %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <% end %>
      </div>
      <div class="notifications">
        <% if Friend.any? { |inv| (inv.user_id == current_user.id) && (!inv.accepted?) } %>
          <h3>Pending friend requests</h3>
          <ul>
            <% @friends.find_each do |inv| %>
            <% if inv.user_id == current_user.id %>
              <% user = User.find_by(id: inv.creator_id) %>
              <div>
                <% if !inv.accepted? %>
                  <%# Get only first part of email for username %>
                  <%= user.email[/[^@]+/] %>
                  <%= button_to "Accept friend request", friend_path(id: inv.id), method: :patch %>
                <% end %>
              </div>
            <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<h3>List of current users</h3>
<ul>
  <% @users.find_each do |user| %>
    <% if user.email != current_user.email%>
      <li>
        <%# Get only first part of email for username %>
        <div>
          <%= user.email[/[^@]+/] %>
          <% friend = Friend.find_by(user_id: user.id) %>
            <% if friend.nil? %>
              <%= button_to "Add friend", friends_path(user_id: user.id, creator_id: current_user.id) %>
            <% elsif friend.accepted? %>
              <%= button_to "Unfriend", friend_path(id: friend.id), method: :delete %>
            <% else %>
              <%= button_to "Cancel friend request", friend_path(id: friend.id), method: :delete %>
            <% end %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

