<nav class="nav" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <% if Friend.any? { |inv| (inv.user_id == current_user.id) && (!inv.accepted?) } %>
          <% total = @friends.where(user_id: current_user.id, status: "invited") %>

          <% friends_amount = "Friend requests(#{total.count})" %>
          <button aria-expanded="false" aria-controls="fr-holder"
           class="friend_request_button"><%= friends_amount %></button>

        <% end %>
        <%= button_to "Profile", user_path(current_user), method: :get %>
        <%= button_to "Update profile", edit_user_path(current_user), method: :get %>
        <%= button_to "Posts page", posts_path, method: :get %>
        <%= button_to "Users list", users_path, method: :get %>
        <% if current_user %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= button_to "Login", new_user_session_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="fr-holder">
    <div class="notifications-box">
      <div class="notifications">
          <h3>Pending friend requests</h3>
            <% @friends.find_each do |inv| %>
              <% if inv.user_id == current_user.id %>
                <% user = User.find_by(id: inv.creator_id) %>
                <div class="friend-request">
                  <% if !inv.accepted? %>
                    <%# Get only first part of email for username %>
                    <%= user.email[/[^@]+/] %>
                    <%= button_to "Accept friend request", friend_path(id: inv.id), method: :patch %>
                  <% end %>
                </div>
              <% end %>
            <% end %>
      </div>
    </div>
  </div>
</nav>

<script>
  const friends = document.querySelector('button[aria-expanded]');
  const friend_requests = document.querySelector('.fr-holder');

  function toggleFriends({ target }) {
    const expanded = target.getAttribute('aria-expanded') ===
    'true' || false;
    friends.setAttribute('aria-expanded', !expanded);

    const currExpanded = target.getAttribute('aria-expanded');
    if (currExpanded === 'true') {
      friend_requests.classList.add('open');
    }
    else {
      friend_requests.classList.remove('open');
    }
  }

  friends.addEventListener('click', toggleFriends);
</script>

