<nav class="nav" role="navigation" aria-label="main navigation">
  <div class="navbar-end">
    <div class="navbar-item">
      <div class="buttons">
        <%= button_to "Profile", user_path(current_user), method: :get %>
        <%= button_to "Update profile", edit_user_path(current_user), method: :get %>
        <%= button_to "Posts page", posts_path, method: :get %>
        <%= button_to "Users list", users_path, method: :get %>
        <% if current_user %>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= button_to "Login", new_user_session_path %>
        <% end %>
      </div>
      <div class="notifications">
        <% if Friend.any? { |inv| (inv.user_id == current_user.id) && (!inv.accepted?) } %>
          <h3>Pending friend requests</h3>
          <ul>
            <% @friends.find_each do |inv| %>
            <% if inv.user_id == current_user.id %>
              <% user = User.find_by(id: inv.creator_id) %>
              <div>
                <% if !inv.accepted? %>
                  <%# Get only first part of email for username %>
                  <%= user.email[/[^@]+/] %>
                  <%= button_to "Accept friend request", friend_path(id: inv.id), method: :patch %>
                <% end %>
              </div>
            <% end %>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</nav>
