<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if current_user %>
      <%= render "layouts/navbar" %>
    <% end %>
  </head>

  <body>
    <% unless notice.nil? %>
      <div class="notice">
        <%= notice %>
      </div>
    <% end %>
    <% unless alert.nil? %>
      <div class="alert">
        <%= alert %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
